# frameworks, libraries, and models
gradio
streamlit
python-dotenv
pydantic
langgraph
chromadb

# embeddings
sentence-transformers

# .pdf text extraction
pypdf

# .pdf -> image (card thumbnails)
pymupdf

# local llama3
ollama
